/* Copyright Nordic Seaworld (c) 2017 All Rights Reserved. */

.babyblue {
    background-color: #CBE6E1;
}

.cyan {
    background-color: #007D7F;
}

.rblue {
    background-color: #3696FD;
}

.myeyesareburning {
    background-color: white;
}

h1 {
    color: #007D7F;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    /*padding-bottom: 15px;*/
}

body {
    font: 12px Tahoma;
}

.thevoid {
    background-color: black;
}

.titles {
    font-family: Verdana;
    font-weight: bold;
    color: #3696FD;
}

.btn {
    transition: background-color .5s;
    transition: color .5s;
    text-decoration: none;
    width: 83px;
    height: 50px;
    background-color: #018e90;
    color: #c3e6e0;
    float: right;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.btn:hover {

    background-color: #CBE6E1;
    color: #007D7F;
}

.align_center_t {
    transform: translate(0%, 16px);
}


.align_center {
    transform: translate(-50%, 0%);
    left: 50%;
}

.slight_padding {
    position: relative;
    left: 8px;
}

.logo {
    width: 450px;
    height: 50px;
    float: left;
}

.menu {
    height: 50px
}

.banner {
    clear: both;
    margin-top: 5px;
    height: 205px;
}

.ccontainer {
    width: 950px;
    height: 648px;
    position: static;
    clear: both;
}

.filledtext {
    background-color: #CBE6E1;
    padding-left: 5%;
    color: #007D7F;
    width: 95%;
    font-weight: bold;
}

.sidebartext {
    color: #CBE6E1;
}

.sidebar {
    width: 215px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: -15px;
    height: 100%;
    float: right;
}

.content {
    position: relative;
    width: 670px;
    height: 100%;
    bottom: 0%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: -15px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    font: 12px Tahoma;
    line-height: 18px;
    float: left;
}

.fwaylink {

    transition: color 1s;
    transition: left .5s;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #CBE6E1;
    font-size: inherit;
}

.fwaylink:hover {
    color: #DBF6F1;
    left: -2px;
}

.fwaylink:active {
    color: #FFFFFF01;
    left: 10px;
}

.footer {
    width: 950px;
    position: fixed;
    height: 15px;
    bottom: 0px;
}

.total {
    position: absolute;
    width: 950px;
}
